body {
    background-image: url("../images/grassy-background.jpg");
    height: 900px;
}

#pokedex {
    margin: 150px auto auto auto;
    width: 750px;
    height: 500px
}

#left {
    position: relative;
    float: left;
    background-color: #C00D0D;
    height: 500px;
    width: 400px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: -10px 8px 1px 3px #600707;
}

#right {
    position: relative;
    float: right;
    margin-top: 75px;
    background-color: #C00D0D;
    height: 425px;
    width: 350px;
    border-bottom-right-radius: 30px;
    box-shadow: -10px 8px 1px 3px #600707
}

#middle {
    position: absolute;
    z-index: 150;
    margin-left: 350px;
    height: 500px;
    width: 50px;
    background: linear-gradient(to right, #8B0000, #C00D0D, #8B0000);
    box-shadow: 0px 5px 5px 3px #600707
}

#hinge1 {
    position: absolute;
    z-index: 20;
    width: 50px;
    height: 46px;
    background: linear-gradient(to right, #600707, #C00D0D, #600707);
    border-bottom: solid #600707 2px;
    border-top: solid #600707 2px
}

#hinge2 {
    position: absolute;
    z-index: 20;
    margin-top: 100px;
    width: 50px;
    height: 46px;
    background: linear-gradient(to right, #600707, #C00D0D, #600707);
    border-bottom: solid #600707 2px;
    border-top: solid #600707 2px
}

#hinge3 {
    position: absolute;
    z-index: 20;
    margin-top: 400px;
    width: 50px;
    height: 46px;
    background: linear-gradient(to right, #600707, #C00D0D, #600707);
    border-bottom: solid #600707 2px;
    border-top: solid #600707 2px
}

#top-right1 {
    position: absolute;
    z-index: 100;
    margin: 50px auto auto 400px;
    background-color: #C00D0D;
    width: 200px;
    height: 200px;
    border-top-right-radius: 120px
}

#top-right2 {
    position: absolute;
    z-index: 100;
    margin: 0px auto auto 520px;
    background-color: #7ccbf7;
    width: 230px;
    height: 100px;
    border-bottom-left-radius: 100px
}

#top-left {
    position: absolute;
    z-index: 20;
    width: 350px;
    height: 75px;
    background-color: #8B0000;
    border-top-left-radius: 30px
}

#top-left1 {
    position: absolute;
    z-index: 110;
    margin: 0px auto auto 0px;
    background-color: #8B0000;
    width: 230px;
    height: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 30px;
    box-shadow: -10px 8px 1px 3px #600707
}

#top-left2 {
    position: absolute;
    z-index: 100;
    margin: 50px auto auto 150px;
    background-color: #C00D0D;
    width: 200px;
    height: 200px;
    border-top-left-radius: 120px
}

#glass-button {
    position: absolute;
    z-index: 110;
    margin: 17px auto auto 17px;
    width: 60px;
    height: 60px;
    background: radial-gradient(#A9E9F7, #1DC6EC);
    border-radius: 50px;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    box-shadow: 0px 0px 6px 4px #600707
}

#reflect {
    position: absolute;
    z-index: 120;
    margin: 3px auto auto 15px;
    width: 30px;
    height: 17px;
    background-color: #A0F2FA;
    border-radius: 20px 15px
}

#top-buttons {
    display: flex;
    justify-content: space-between;
    width: 85px;
    margin: 12px auto auto 100px
}

#top-button-red {
    z-index: 120;
    width: 20px;
    height: 20px;
    background: radial-gradient(#FB7575, #C00D0D);
    border-radius: 50px;
    box-shadow: 0px 0px 6px 2px #600707
}

#top-button-yellow {
    z-index: 120;
    width: 20px;
    height: 20px;
    background: radial-gradient(#FBFB8A, #ff0);
    background-color: #A0F2FA;
    border-radius: 50px;
    box-shadow: 0px 0px 6px 2px #600707
}

#top-button-green {
    z-index: 120;
    width: 20px;
    height: 20px;
    background: radial-gradient(#ACFB76, #30DA0C);
    border-radius: 50px;
    box-shadow: 0px 0px 6px 2px #600707
}

#border-screen {
    position: absolute;
    z-index: 100;
    margin: 135px auto auto 25px;
    background-color: #B0B0B0;
    width: 300px;
    height: 220px;
    border-radius: 20px
}

#screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    margin: 155px auto auto 45px;
    background-color: #fff;
    width: 255px;
    height: 140px;
    border-radius: 20px;
    border-style: solid;
    border-color: #494949
}

#myVideo {
    background-color: #C00D0D;
    width: 255px;
    height: 140px;
    border-radius: 20px;
    border-style: solid;
}

#screen img {
    height: 130px;
    width: auto;
    border-radius: 15px
}

.selectDisable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#triangle {
    position: absolute;
    z-index: 120;
    margin: 315px auto auto 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 40px;
    border-color: transparent transparent transparent #C00D0D
}

#button-top1 {
    position: absolute;
    z-index: 110;
    margin: 4px auto auto 130px;
    background: radial-gradient(#FB7575, #C00D0D);
    border-radius: 100px;
    border-style: solid;
    border-color: #222;
    border-width: 1px;
    height: 10px;
    width: 10px
}

#button-top2 {
    position: absolute;
    z-index: 110;
    margin: 4px auto auto 160px;
    background: radial-gradient(#FB7575, #C00D0D);
    border-radius: 100px;
    border-style: solid;
    border-color: #222;
    border-width: 1px;
    height: 10px;
    width: 10px
}

#button-bottom {
    background: linear-gradient(#C00D0D, #8B0000);
    position: absolute;
    z-index: 130;
    margin: 178px auto auto 50px;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    box-shadow: 0px 1px 0px 1px #600707;
    cursor: pointer
}

#button-bottom:active {
    box-shadow: none;
    background: linear-gradient(#010000, #C00D0D);
    box-shadow: 0px 0px 10px 3px #900a0a inset;
    border: #222 solid 1px
}

#border-screen p {
    margin: 157px auto auto 180px;
    font-family: 'Press Start 2P', cursive;
    font-size: 4em;
    color: #494949
}

#blue-button-left {
    background: linear-gradient(#2D77F9, #0530E5);
    position: absolute;
    z-index: 130;
    margin: 385px auto auto 20px;
    border-radius: 100px;
    height: 55px;
    width: 55px;
    box-shadow: 0px 1px 0px 1px #031b81;
    cursor: pointer
}

#blue-button-left:active {
    box-shadow: none;
    background: linear-gradient(#032158, #2D77F9);
    box-shadow: 0px 0px 10px 3px #0426b3 inset;
    border: #222 solid 1px
}

#green-button-left {
    background: linear-gradient(#30DA0C, #137604);
    position: absolute;
    z-index: 130;
    margin: 400px auto auto 100px;
    border-radius: 100px;
    height: 12px;
    width: 50px;
    box-shadow: -1px 1px 0px 1px #072c01;
    cursor: pointer
}

#green-button-left:active {
    box-shadow: none;
    background: linear-gradient(#051901, #30DA0C);
    box-shadow: 0px 0px 10px 3px #1b7907 inset;
    border: #104904 solid 1px
}

#orange-button-left {
    background: linear-gradient(#FF9B5B, #F66C1F);
    position: absolute;
    z-index: 130;
    margin: 400px auto auto 165px;
    border-radius: 100px;
    height: 12px;
    width: 50px;
    box-shadow: -1px 1px 0px 1px #5f2404;
    cursor: pointer
}

#orange-button-left:active {
    box-shadow: none;
    background: linear-gradient(#f45f00, #FF9B5B);
    box-shadow: 0px 0px 5px 3px #c14b00 inset;
    border: #8e3700 solid 1px
}

#square-button-left {
    position: absolute;
    z-index: 130;
    margin: 430px auto auto 100px;
    border-radius: 10px;
    height: 55px;
    width: 115px;
    box-shadow: 0 0 20px #004846 inset, 0px 0px 5px 1px #600707;
    background-color: #008477;
    background: linear-gradient(#008477, #004846)
}

#nb {
    margin: 9px auto auto 20px;
    width: 72px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 0 7px #004846 inset;
    border: solid #222 1px
}

#cross {
    position: absolute;
    z-index: 130;
    height: 90px;
    width: 90px;
    margin: 390px auto auto 240px
}

#mid-cross {
    position: absolute;
    z-index: 130;
    background-color: #222;
    margin: 30px auto auto 30px;
    width: 30px;
    height: 30px;
    box-shadow: -3px 2px #111
}

#top-cross {
    position: absolute;
    background-color: #222;
    margin: 0px auto auto 30px;
    width: 30px;
    height: 30px;
    box-shadow: -3px 2px #111;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer
}

#right-cross {
    position: absolute;
    background-color: #222;
    margin: 30px auto auto 60px;
    width: 30px;
    height: 30px;
    box-shadow: -3px 2px #111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

#bot-cross {
    position: absolute;
    z-index: 130;
    background-color: #222;
    margin: 60px auto auto 30px;
    width: 30px;
    height: 30px;
    box-shadow: -3px 2px #111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer
}

#left-cross {
    position: absolute;
    z-index: 130;
    background-color: #222;
    margin: 30px auto auto 0px;
    width: 30px;
    height: 30px;
    box-shadow: -3px 2px #111;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

#mid-circle {
    position: absolute;
    margin: 5px auto auto 3px;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    background: radial-gradient(#111, #222)
}

#upC {
    position: absolute;
    margin: 8px auto auto 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #111 transparent
}

#rightC {
    position: absolute;
    margin: 6px auto auto 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #111
}

#downC {
    position: absolute;
    margin: 14px auto auto 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #111 transparent transparent transparent
}

#leftC {
    position: absolute;
    margin: 6px auto auto 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #111 transparent transparent
}

#info-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 130;
    margin: 60px auto auto 30px;
    border-radius: 10px;
    height: 120px;
    width: 290px;
    box-shadow: 0 0 20px #137604 inset, 0px 0px 5px 1px #600707;
    background-color: #30DA0C;
    background: linear-gradient(#ACFB76, #30DA0C)
}

#info-screen p {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
}

#keyboard {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 250px;
    margin: 200px auto auto 50px;
}

.key {
    background: linear-gradient(#2D77F9, #0530E5);
    z-index: 100;
    height: 35px;
    width: 47px;
    border-radius: 4px;
    box-shadow: -1px 1px 0px 2px #032b70;
    cursor: pointer
}

.key:active {
    background: linear-gradient(#032158, #2D77F9);
    box-shadow: 0px 0px 5px 2px #043489 inset, -1px 1px 0px 2px #032b70
}

#leaf-button-right {
    background: linear-gradient(#008477, #004846);
    position: absolute;
    z-index: 130;
    margin: 300px auto auto 51px;
    border-radius: 100px;
    height: 12px;
    width: 12px;
    box-shadow: -1px 1px 0px 1px #002423;
    cursor: pointer
}

#leaf-button-right:active {
    box-shadow: none;
    background: linear-gradient(#000, #008477);
    box-shadow: 0px 0px 5px 2px #004846 inset;
    border: #003832 solid 1px
}

#yellow-button-right {
    background: linear-gradient(#ff0, #FFAB00);
    position: absolute;
    z-index: 130;
    margin: 300px auto auto 80px;
    border-radius: 100px;
    height: 12px;
    width: 12px;
    box-shadow: -1px 1px 0px 1px #4d3300;
    cursor: pointer
}

#yellow-button-right:active {
    box-shadow: none;
    background: linear-gradient(#996700, #ff0);
    box-shadow: 0px 0px 5px 2px #FF9B5B inset;
    border: #8e3700 solid 1px
}

#green-button-right {
    background: linear-gradient(#30DA0C, #137604);
    position: absolute;
    z-index: 130;
    margin: 300px auto auto 185px;
    border-radius: 100px;
    height: 12px;
    width: 50px;
    box-shadow: -1px 1px 0px 1px #072c01;
    cursor: pointer
}

#green-button-right:active {
    box-shadow: none;
    background: linear-gradient(#051901, #30DA0C);
    box-shadow: 0px 0px 10px 3px #1b7907 inset;
    border: #104904 solid 1px
}

#orange-button-right {
    background: linear-gradient(#FF9B5B, #F66C1F);
    position: absolute;
    z-index: 130;
    margin: 300px auto auto 250px;
    border-radius: 100px;
    height: 12px;
    width: 50px;
    box-shadow: -1px 1px 0px 1px #5f2404;
    cursor: pointer
}

#orange-button-right:active {
    box-shadow: none;
    background: linear-gradient(#f45f00, #FF9B5B);
    box-shadow: 0px 0px 5px 3px #c14b00 inset;
    border: #8e3700 solid 1px
}

#left-cross-button {
    background: linear-gradient(#B0B0B0, #494949);
    position: absolute;
    z-index: 100;
    margin: 330px auto auto 51px;
    height: 30px;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 0px 2px #303030;
    cursor: pointer
}

#left-cross-button:active {
    box-shadow: none;
    background: linear-gradient(#313131, #B0B0B0);
    box-shadow: 0px 0px 10px 3px #4a4a4a inset;
    border: #313131 solid 1px
}

#right-cross-button {
    background: linear-gradient(#B0B0B0, #494949);
    position: absolute;
    z-index: 100;
    margin: 330px auto auto 92px;
    height: 30px;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -1px 1px 0px 2px #303030;
    cursor: pointer
}

#right-cross-button:active {
    box-shadow: none;
    background: linear-gradient(#313131, #B0B0B0);
    box-shadow: 0px 0px 10px 3px #4a4a4a inset;
    border: #313131 solid 1px
}

#rightT {
    position: absolute;
    z-index: 130;
    margin: 5px auto auto 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #780808
}

#leftT {
    position: absolute;
    z-index: 130;
    margin: 5px auto auto 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #780808 transparent transparent
}

#cross-button {
    background: linear-gradient(#FBFB8A, #FFAB00);
    position: absolute;
    z-index: 130;
    margin: 330px auto auto 270px;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    box-shadow: -1px 1px 0px 1px #422c00;
    cursor: pointer;
}

#cross-button:active {
    box-shadow: none;
    background: linear-gradient(#f45f00, #ff0);
    box-shadow: 0px 0px 5px 2px #996700 inset;
    border: #752d00 solid 1px;
}

#left-red-cross {
    position: absolute;
    z-index: 130;
    margin: 7px auto auto 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 15px 8px 0;
    border-color: transparent #780808 transparent transparent;
}

#square-button-right1 {
    position: absolute;
    z-index: 130;
    margin: 375px auto auto 185px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    box-shadow: 0 0 20px #C00D0D inset, 0px 0px 5px 1px #600707;
    background-color: #FF9300;
    background: linear-gradient(#ff0, #FF9300);
}

#square-button-right2 {
    position: absolute;
    z-index: 130;
    margin: 375px auto auto 70px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    box-shadow: 0 0 20px #C00D0D inset, 0px 0px 5px 1px #600707;
    background-color: #FF9300;
    background: linear-gradient(#ff0, #FF9300);
}

.instructionTxt {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
}

.modal-footer, .modal-body {
    background-color: #212529;
}

.closed {
    display: none;
}

.seeVideo {
    display: none;
}


.character{
    position: absolute;
  right: 40%;
  width: 450px;
  height:50px;
  bottom: 1px;
  word-spacing: 35px;
  
  
}
.key {
    font-family: 'Press Start 2P', cursive;
    font-size: 50%;
    line-height: 2;
    text-align: center;

    
}
.key2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50%;
    line-height:7;
    text-align: center;

    
}
.key3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
    line-height: 2;
    text-align: center;

    
}
/* BetterTime */

.main{
    background: #ccc;
    width: 440px;
    margin: 20px auto;
    height: 50px;
    position: relative;
    padding:10px; 

}
.badge{
    background: #e66357;
    color: white;
    padding: 5px 10px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    width: 140px;
    position: absolute;
    top:-15px;
    left: 35%;   

}
.clock{
 background: #EBEBEB;
 text-align: center;
 font-size: 20px;
 height: 100%;
 padding-top: 5px;
 font-family: 'Press Start 2P', cursive;
 border-radius: 4px;


}